# VHE 
Resources/
ARCdata/
vhe_impl/
*.pyc
vhe/.ipynb_checkpoints/
*.p
.vscode/
vhe/train.sub

# Personal
GARC/test.py
questions.md
GARC/notes.md

# Local
GARC/samples/
.idea/
GARC/p_05269061*
GARC/p_0520fde7*

# Server
*.err
*.out
GARC/search.stats
res.txt
GARC/run-search.sub
GARC/search-alpha.sh

# Not Needed 
*.txt