# VHE 
Resources/
ARCdata/
vhe_impl/
*.pyc
vhe/.ipynb_checkpoints/
*.p
.vscode/
vhe/train.sub

# Personal
GARC/test.py
questions.md
GARC/notes.md

# Local
GARC/samples/
.idea/
GARC/y_*.py

# Server
*.err
*.out
GARC/search.stats
res.txt
GARC/run-search.sub
GARC/search-alpha.sh
GARC/*.sub
GARC/*.sh
GARC/Makefile
GARC/p_*.py

# Not Needed 
*.txt